*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: url('./img/backgroundimg.jpg'); /* Arka plan resminin yolu */
    background-size: cover; /* Resmi kapsayıcıyı tamamen kaplayacak şekilde boyutlandırır */
    background-position: center; /* Resmi ortalar */
    background-repeat: no-repeat; /* Resmin tekrarını kapatır */
    height: 100vh; /* Tam ekran yüksekliği */
}
.navbar{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.navbar ul li{
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 35px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: "Roboto", sans;
}
.navbar ul .login a i{
    position: relative;
    right: 20px;
}
.navbar ul .login a{
    position: relative;
    left: 100px;
}
.navbar ul li a:hover{
  color: lightgray;
  text-decoration: underline #faedcd;
  transition: 0.5s;
}
.navbar i{
    display: none;
}

.menu{
    height: 1700px;
}
.menu .title{
    display: inline-block;
    position: absolute;
    left: 43%;
    top: 125%;
}
.menu .hamburgerler{
    position: absolute;
    left: 43%;
    top: 135%;
}
.menu .row1{
    display: grid;
    height: 250px;
    position: absolute;
    top: 140%;
    grid-template-columns:  repeat(5, 200px);
    gap: 10px;
    padding: 0 210px;
}
.menu .row1 .hamburger1{
    cursor: pointer;
    display: grid;
    width: 200px;
    height: 250px;
    border: 1px solid lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
}
.menu .row1 .hamburger1 img{
    width: 200px;
    position: relative;
}
.menu .row1 .hamburger1 h2{
    display: flex;
    justify-content: center;
}
.menu .row1 .hamburger1 h3{
    position: relative;
    left:  6px;
}




.menu .row1 .hamburger2{
    cursor: pointer;
    display: grid;
    width: 200px;
    height: 250px;
    border: 1px solid lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.menu .row1 .hamburger2 img{
    width: 200px;
    position: relative;
}
.menu .row1 .hamburger2 h2{
    display: flex;
    justify-content: center;
}
.menu .row1 .hamburger2 h3{
    position: relative;
    left:  6px;
}




.menu .row1 .hamburger3{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: grid;
    width: 200px;
    height: 250px;
    border: 1px solid lightgrey;
}
.menu .row1 .hamburger3 img{
    width: 200px;
    position: relative;
}
.menu .row1 .hamburger3 h2{
    display: flex;
    justify-content: center;
}
.menu .row1 .hamburger3 h3{
    position: relative;
    left:  6px;
}





.menu .row1 .hamburger4{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: grid;
    width: 200px;
    height: 250px;
    border: 1px solid lightgrey;
}
.menu .row1 .hamburger4 img{
    width: 200px;
    position: relative;
}
.menu .row1 .hamburger4 h2{
    display: flex;
    justify-content: center;
}
.menu .row1 .hamburger4 h3{
    position: relative;
    left:  6px;
}





.menu .row1 .hamburger5{
    cursor: pointer;
    display: grid;
    width: 200px;
    height: 250px;
    border: 1px solid lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.menu .row1 .hamburger5 img{
    width: 200px;
    position: relative;
}
.menu .row1 .hamburger5 h2{
    display: flex;
    justify-content: center;
}
.menu .row1 .hamburger5 h3{
    position: relative;
    left:  6px;
}




.menu .row2{
    display: grid;
    height: 250px;
    position: absolute;
    top: 190%;
    grid-template-columns:  repeat(5, 200px);
    gap: 10px;
    padding: 0 210px;
}
.menu .pizzalar{
    position: absolute;
    left: 45%;
    top: 185%;
}
.menu .row2 .pizza1{
    cursor: pointer;
    display: grid;
    width: 200px;
    height: 290px;
    border: 1px solid lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
}
.menu .row2 .pizza1 img{
    width: 200px;
    position: relative;
}
.menu .row2 .pizza1 h2{
    /* position: relative;
    left: 65px; */
    display: flex;
    justify-content: center;
}
.menu .row2 .pizza1 h3{
    position: relative;
    left:  6px;
}




.menu .row2 .pizza2{
    cursor: pointer;
    display: grid;
    width: 200px;
    height: 290px;
    border: 1px solid lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.menu .row2 .pizza2 img{
    width: 200px;
    position: relative;
}
.menu .row2 .pizza2 h2{
    display: flex;
    justify-content: center;
}
.menu .row2 .pizza2 h3{
    position: relative;
    left:  6px;
}




.menu .row2 .pizza3{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: grid;
    width: 200px;
    height: 290px;
    border: 1px solid lightgrey;
}
.menu .row2 .pizza3 img{
    width: 200px;
    position: relative;
}
.menu .row2 .pizza3 h2{
    display: flex;
    justify-content: center;
}
.menu .row2 .pizza3 h3{
    position: relative;
    left:  6px;
}





.menu .row2 .pizza4{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: grid;
    width: 200px;
    height: 290px;
    border: 1px solid lightgrey;
}
.menu .row2 .pizza4 img{
    width: 200px;
    position: relative;
}
.menu .row2 .pizza4 h2{
    display: flex;
    justify-content: center;
}
.menu .row2 .pizza4 h3{
    position: relative;
    left:  6px;
}





.menu .row2 .pizza5{
    cursor: pointer;
    display: grid;
    width: 200px;
    height: 290px;
    border: 1px solid lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.menu .row2 .pizza5 img{
    width: 200px;
    position: relative;
}
.menu .row2 .pizza5 h2{
    display: flex;
    justify-content: center;
}
.menu .row2 .pizza5 h3{
    position: relative;
    left:  6px;
}



.menu .dürümler{
    position: absolute;
    left: 45%;
    top: 245%;
}
.menu .row3{
    display: grid;
    height: 245px;
    position: absolute;
    top: 250%;
    grid-template-columns:  repeat(5, 200px);
    gap: 10px;
    padding: 0 210px;
}
.menu .row3 .dürüm1{
    cursor: pointer;
    display: grid;
    width: 200px;
    height: 260px;
    border: 1px solid lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
}
.menu .row3 .dürüm1 img{
    width: 200px;
    position: relative;
}
.menu .row3 .dürüm1 h2{
    display: flex;
    justify-content: center;
}
.menu .row3 .dürüm1 h3{
    position: relative;
    left:  6px;
}




.menu .row3 .dürüm2{
    cursor: pointer;
    display: grid;
    width: 200px;
    height: 250px;
    border: 1px solid lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.menu .row3 .dürüm2 img{
    width: 200px;
    position: relative;
}
.menu .row3 .dürüm2 h2{
    display: flex;
    justify-content: center;
}
.menu .row3 .dürüm2 h3{
    position: relative;
    left:  6px;
}




.menu .row3 .dürüm3{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: grid;
    width: 200px;
    height: 250px;
    border: 1px solid lightgrey;
}
.menu .row3 .dürüm3 img{
    width: 200px;
    position: relative;
}
.menu .row3 .dürüm3 h2{
    display: flex;
    justify-content: center;
}
.menu .row3 .dürüm3 h3{
    position: relative;
    left:  6px;
}





.menu .row3 .dürüm4{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: grid;
    width: 200px;
    height: 250px;
    border: 1px solid lightgrey;
}
.menu .row3 .dürüm4 img{
    width: 200px;
    position: relative;
}
.menu .row3 .dürüm4 h2{
    display: flex;
    justify-content: center;
}
.menu .row3 .dürüm4 h3{
    position: relative;
    left:  6px;
}





.menu .row3 .dürüm5{
    cursor: pointer;
    display: grid;
    width: 200px;
    height: 250px;
    border: 1px solid lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.menu .row3 .dürüm5 img{
    width: 200px;
    position: relative;
}
.menu .row3 .dürüm5 h2{
    display: flex;
    justify-content: center;
}
.menu .row3 .dürüm5 h3{
    position: relative;
    left:  6px;
}



@media only screen and (max-width: 480px) {
    body{
        background-image: url('./img/backgroundimg.jpg');
        background-size: 100% 100%;
    }
    .navbar{
        width: 100%;
        z-index: 5;
    }
    .navbar ul li{
        display: none;
    }


        #openMenu {
            position: fixed;
            width: 200px;
            height: 900px;
            background-color: black;
            z-index: 5;
            left: -200px; 
            transition: left 0.3s ease; 
        }
        
        #menuIcon {
            display: inline;
            color: white;
            font-size: xx-large;
            margin-top: 35px;
            margin-left: 30px;
            position: fixed;
            /* position: relative;
            top: 35px;
            left: 30px; */
            z-index: 10;
            cursor: pointer;
        }
        
        #menuList {
            padding-left: 0; 
        }
        
        #menuList li {
            list-style: none; 
        }
        
        #menuList li a {
            z-index: 5;
            display: block;
            color: white;
            text-decoration: none;
            font-size: x-large;
            position: relative;
            top: 100px;
            left: 30px;
            margin-bottom: 30px;
            font-family: "Roboto", sans-serif;
        }

         .menu .title{
            font-family: "Roboto", sans-serif;
            position: absolute;
            left: 125px;
            top: 110%;
         }

         .menu .hamburgerler{
            font-family: "Roboto", sans-serif;
            position: absolute;
            left: 130px;
            top: 125%;
         }

         .menu .row1{
            display: grid;
           height: 100px;
           position: absolute;
           top: 130%;
           grid-template-columns:  repeat(2, 5fr);
           gap: 10px;
           margin: 0 auto;
           padding: 0 20px;
           width: 82%;
       }
         .menu .row1 .hamburger1{
            width: 180px;
            z-index: 1;
         }
         .menu .row1 .hamburger1 img{
            width: 180px;
        }
        .menu .row1 .hamburger1 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row1 .hamburger1 h3{
            position: relative;
            left:  6px;
        }


         .menu .row1 .hamburger2{
            width: 180px;
         }
         .menu .row1 .hamburger2 img{
            width: 180px;
            position: relative;
        }
        .menu .row1 .hamburger2 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row1 .hamburger2 h3{
            position: relative;
            left:  6px;
        }
        
    
        .menu .row1 .hamburger3{
            width: 180px;
        }
        .menu .row1 .hamburger3 img{
            width: 180px;
            position: relative;
        }
        .menu .row1 .hamburger3 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row1 .hamburger3 h3{
            position: relative;
            left:  6px;
        }
        
        
        
        
        
        .menu .row1 .hamburger4{
          width: 180px;
        }
        .menu .row1 .hamburger4 img{
            width: 180px;
            position: relative;
        }
        .menu .row1 .hamburger4 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row1 .hamburger4 h3{
            position: relative;
            left:  6px;
        }
        
        
        
        
        
        .menu .row1 .hamburger5{
           width: 180px;
        }
        .menu .row1 .hamburger5 img{
            width: 180px;
            position: relative;
        }
        .menu .row1 .hamburger5 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row1 .hamburger5 h3{
            position: relative;
            left:  6px;
        }



        .menu .row2{
            display: grid;
            height: 100px;
            position: absolute;
            top: 250%;
            grid-template-columns:  repeat(2, 5fr);
            gap: 10px;
            margin: 0 auto;
            padding: 0 20px;
            width: 82%;
        }
        .menu .pizzalar{
            position: absolute;
            left: 40%;
            top: 245%;
            font-family: "Roboto", sans-serif;
        }
        .menu .row2 .pizza1{
           width: 180px;
        }
        .menu .row2 .pizza1 img{
            width: 180px;
            position: relative;
        }
        .menu .row2 .pizza1 h2{
            /* position: relative;
            left: 65px; */
            display: flex;
            justify-content: center;
        }
        .menu .row2 .pizza1 h3{
            position: relative;
            left:  6px;
        }
        
        
        
        
        .menu .row2 .pizza2{
           width: 180px;
        }
        .menu .row2 .pizza2 img{
            width: 180px;
            position: relative;
        }
        .menu .row2 .pizza2 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row2 .pizza2 h3{
            position: relative;
            left:  6px;
        }
        
        
        
        
        .menu .row2 .pizza3{
          width: 180px;
        }
        .menu .row2 .pizza3 img{
            width: 180px;
            position: relative;
        }
        .menu .row2 .pizza3 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row2 .pizza3 h3{
            position: relative;
            left:  6px;
        }
        
        
        
        
        
        .menu .row2 .pizza4{
           width: 180px;
        }
        .menu .row2 .pizza4 img{
            width: 180px;
            position: relative;
        }
        .menu .row2 .pizza4 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row2 .pizza4 h3{
            position: relative;
            left:  6px;
        }
        
        
        
        
        
        .menu .row2 .pizza5{
           width: 180px;
        }
        .menu .row2 .pizza5 img{
            width: 180px;
            position: relative;
        }
        .menu .row2 .pizza5 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row2 .pizza5 h3{
            position: relative;
            left:  6px;
        }




        .menu .dürümler{
            position: absolute;
            left: 40%;
            top: 380%;
            font-family: "Roboto", sans-serif;
        }
        .menu .row3{
            display: grid;
            height: 100px;
            position: absolute;
            top: 385%;
            grid-template-columns:  repeat(2, 5fr);
            gap: 10px;
            margin: 0 auto;
            padding: 0 20px;
            width: 82%;
        }
        .menu .row3 .dürüm1{
          width: 180px;
        }
        .menu .row3 .dürüm1 img{
            width: 180px;
            position: relative;
        }
        .menu .row3 .dürüm1 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row3 .dürüm1 h3{
            position: relative;
            left:  6px;
        }
        
        
        
        
        .menu .row3 .dürüm2{
            width: 180px;
        }
        .menu .row3 .dürüm2 img{
            width: 180px;
            position: relative;
        }
        .menu .row3 .dürüm2 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row3 .dürüm2 h3{
            position: relative;
            left:  6px;
        }
        
        
        
        
        .menu .row3 .dürüm3{
           width: 180px;
        }
        .menu .row3 .dürüm3 img{
            width: 180px;
            position: relative;
        }
        .menu .row3 .dürüm3 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row3 .dürüm3 h3{
            position: relative;
            left:  6px;
        }
        
        
        
        
        
        .menu .row3 .dürüm4{
           width: 180px;
        }
        .menu .row3 .dürüm4 img{
            width: 180px;
            position: relative;
        }
        .menu .row3 .dürüm4 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row3 .dürüm4 h3{
            position: relative;
            left:  6px;
        }
        
        
        
        
        
        .menu .row3 .dürüm5{
            width: 180px;
        }
        .menu .row3 .dürüm5 img{
            width: 180px;
            position: relative;
        }
        .menu .row3 .dürüm5 h2{
            display: flex;
            justify-content: center;
        }
        .menu .row3 .dürüm5 h3{
            position: relative;
            left:  6px;
        }
}
